@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Inter:wght@300;400;600;800&display=swap');

body {
      font-family: 'Inter' sans-serif;
      background-color: #fafaf9;
      color: #1c1917;
}

.font-mono {
      font-family: 'JetBrains Mono', monospace;
}

.chart-container {
      position: relative;
      width: 100%;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
}

@media (min-width: 768px) {
      .chart-container {
            height: 350px;
      }
}

.custom-scroll::-webkit-scrollbar {
      width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
      background-color: #e7e5e4;
}

.custom-scroll::-webkit-scrollbar-thumb {
      background-color: #a8a29e;
      border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
      background-color: #78716c;
}

.chip-active {
      background-color: #ea580c;
      color: white;
      border-color: #d6d3d1;
}

.chip-inactive:hover {
      background-color: #f5f5f4;
      border-color: #a8a29e;
}

.flag-box {
      transition: all 0.3 ease;
}

.flag-active {
      background: #ea580c;
      color: white;
      border-color: #ea580c;
      box-shadow: 0 4px 6px -1px rgba(234, 88, 12, 0.3);
}

.flag-inactive {
      background: #f5f5f4;
      color: #a8a29e;
      border-color: #e7e5e4;
}


.instruction-card:hover {
      transform: translateY(-2px);
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.instruction-selected {
      border-left: 4px solid #ea580c;
      background-color: #fff7ed;
}